nvidia-cuda-nvcc-cu12
tensorflow
jax[cuda12_local]
flax
timm
pandas
transformers
accelerate==0.28
flash-attn
tiktoken
transformers_stream_generator
opencv-python
matplotlib
scikit-learn
scikit-image
ml_collections
sentencepiece
pillow
tqdm
dill
openai
jupyter